/* PrimeReact Soho Light Theme */
@import 'primereact/resources/themes/soho-light/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

